@font-face {
    font-family: 'Book Antiqua';
    src: url('BookAntiqua.eot');
    src: url('BookAntiqua.eot?#iefix') format('embedded-opentype'),
         url('BookAntiqua.woff2') format('woff2'),
         url('BookAntiqua.woff') format('woff'),
         url('BookAntiqua.ttf') format('truetype'),
         url('BookAntiqua.svg#BookAntiqua') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: url('Calibri.eot?#iefix') format('embedded-opentype'),
         url('Calibri.woff2') format('woff2'),
         url('Calibri.woff') format('woff'),
         url('Calibri.ttf') format('truetype'),
         url('Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria.eot');
    src: url('Cambria.eot?#iefix') format('embedded-opentype'),
        url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff'),
        url('Cambria.ttf') format('truetype'),
        url('Cambria.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garamond';
    src: url('Garamond.eot');
    src: url('Garamond.eot?#iefix') format('embedded-opentype'),
        url('Garamond.woff2') format('woff2'),
        url('Garamond.woff') format('woff'),
        url('Garamond.ttf') format('truetype'),
        url('Garamond.svg#Garamond') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot');
    src: url('Georgia.eot?#iefix') format('embedded-opentype'),
        url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff'),
        url('Georgia.ttf') format('truetype'),
        url('Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot');
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
        url('Helvetica.woff2') format('woff2'),
        url('Helvetica.woff') format('woff'),
        url('Helvetica.ttf') format('truetype'),
        url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Cond';
    src: url('NotoSans-Condensed.eot');
    src: url('NotoSans-Condensed.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-Condensed.woff2') format('woff2'),
        url('NotoSans-Condensed.woff') format('woff'),
        url('NotoSans-Condensed.ttf') format('truetype'),
        url('NotoSans-Condensed.svg#NotoSans-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS.eot');
    src: url('TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('TrebuchetMS.woff2') format('woff2'),
        url('TrebuchetMS.woff') format('woff'),
        url('TrebuchetMS.ttf') format('truetype'),
        url('TrebuchetMS.svg#TrebuchetMS') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
        url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff'),
        url('Verdana.ttf') format('truetype'),
        url('Verdana.svg#Verdana') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}